<div class="container">
  <div class="AppTitle">
    <app-nav-bar></app-nav-bar>
  </div>
  <div class="displayScreenTabs">
    <div class="dayPlannerTab" id="dayPlannerTab">
        <div class="plannerHeading" (click)="dayPlannerToggle()">
          <i class="fas fa-angle-double-right"></i><span>DAY PLANNER</span>
        </div>
    </div>
    <!-- <div class="tasksTab">
      <div class="allTaskTab">
        <span>ALL TASKS</span>
      </div>
      <div class="healthTab">
        <span>HEALTH TASKS</span>
      </div>
      <div class="statsTabs">
        <span>STATS</span>
      </div>
      <div class="shortGoalsTabs">
        <span>SHOR TERM GOALS</span>
      </div>
      <div class="longGoalsTabs">
        <span>LONG TERM GOALS</span>
      </div>
    </div> -->
  </div>
  <div class="displayScreen">
    <div class="dayPlanner hide" id="dayPlanner">
      <app-day-planner></app-day-planner>
    </div>
    <div class="allTasks gen-tasks">
      <app-all-tasks></app-all-tasks>
    </div>
   
    <div class="healthTask gen-tasks">
      <app-health-tasks></app-health-tasks>
    </div>
    <div class="stats gen-tasks">
      <app-stats></app-stats>
    </div>

    <div class="shortTerm gen-tasks hide" id="shortTerm">
      <app-short-term-goals></app-short-term-goals>
    </div>
    <div class="longTerm gen-tasks hide" id="longTerm">
      <app-long-term-goals></app-long-term-goals>
    </div>
  </div>
  <div class="waterIntakeTracker">
    <app-water-intake-tracker></app-water-intake-tracker>
  </div>
</div>