<div class="watertracker-div">
    <div class="images up" id="image1" (click)="rotate90('image1')">
        <img src="./../../assets/water.png" alt="water bottle img" height="20px">
    </div>
    <div class="images up" id="image2" (click)="rotate90('image2')">
        <img src="./../../assets/water.png" alt="water bottle img" height="20px">
    </div>
    <div class="images up" id="image3" (click)="rotate90('image3')">
        <img src="./../../assets/water.png" alt="water bottle img" height="20px">
    </div>
    <div class="images up" id="image4" (click)="rotate90('image4')">
        <img src="./../../assets/water.png" alt="water bottle img" height="20px">
    </div>
    <div class="images up" id="image5" (click)="rotate90('image5')">
        <img src="./../../assets/water.png" alt="water bottle img" height="20px">
    </div>
    <div class="images up" id="image6" (click)="rotate90('image6')">
        <img src="./../../assets/water.png" alt="water bottle img">
    </div>
    <div class="images up" id="image7" (click)="rotate90('image7')">
        <img src="./../../assets/water.png" alt="water bottle img">
    </div>
    <div class="images up" id="image8" (click)="rotate90('image8')">
        <img src="./../../assets/water.png" alt="water bottle img">
    </div>
</div>